@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 128px;
}

.wspp-fixed {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

/* Estilos a las <a> */
ul li a {
    font-family: 'VarelaRound-Regular';
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}
  
/* Estilos a las <a> cuando pasamos el mouse por arriba */
ul li a:hover {
    color: rgb(190, 221, 76);
}

/* ESTILO PARA H1 */
h1 {
    font-family: 'VarelaRound-Regular';
    color: rgb(99, 106, 106);
    font-size: 30px;
}

/* ESTILO PARA FOOTER */
footer {
    background-color: rgb(99, 106, 106);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: linear-gradient(to top, black, white );
}

/* ESTILOS PARA ICONOS CONTACTO */
.list-icons ul {
    list-style: none;
    align-items: center;
}

.list-icons ul li {
    color: rgb(99, 106, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 30px;
    letter-spacing: 2px;
}

.icon-tel img {
    background-image: url('../images/logos/telephone.png');
    width: 20px; height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.icon-cel img {
    background-image: url('../images/logos/mobile-phone.png');
    width: 20px; height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.icon-email img {
    background-image: url('../images/logos/envelope.png');
    width: 20px; height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.icon-location img {
    background-image: url('../images/logos/pin.png');
    width: 20px; height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.list-icons a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(99, 106, 106);  
}

.style-contact p {
    margin-top: 30px;
    
}

/* STYLE FOR FILTER PROJECTS LIST  */
.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-list ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.filter-list ul li {
    list-style: none;
    margin: 8px;
}
.filter-list a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(99, 106, 106);
}

/* SYTLE FOR PROJECTS IMAGES */
.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(3,200px);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
}
.a2 {
    position: relative;
    display: inline-block;
    text-align: center;
}
.a2 ul {
    position: absolute;
    top: 42%;
    left: 27%;
    font-family: 'VarelaRound-Regular';
    font-size: 17px;
    display: none;
    list-style: none;
}
.a2:hover ul {
    display: flex;
    flex-direction: column;
}
.a2:hover img {
    opacity: 0.3;
    transform: scale(0.7);
}

.a2 img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-proyectos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
        width: 100%;
    }
    .a2 img {
        width: 100%;
        height: 100%;
    }
    .filter-list ul {
        flex-wrap: wrap;
    } 
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .grid-proyectos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
        width: 100%;
    }
    .a2 img {
        width: 100%;
        height: 100%;
    }
    .filter-list ul {
        flex-wrap: wrap;
    } 
}
@media screen and (min-width: 1025px) {
    .grid-proyectos {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        width: 100%;
    }
    .a2 img {
        width: 100%;
        height: 100%;
    }
    .filter-list ul {
        flex-wrap: wrap;
    } 
}
@media screen and (max-width: 320px) {
    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-content: center;
        width: 100%;
    }
    .a2 img {
        width: 100%;
        height: 100%;
    }
    .filter-list ul {
        flex-wrap: wrap;
        font-size: 5px;
        line-height: 5px;
    }  
    .filter-list ul li {
        font-size: 5px;
        line-height: 5px;
    }  
    .filter-list {
        font-size: 5px;
        line-height: 5px;
    }  
}

/* STYLE FOR "STUDIO" HTML */
.estudio-banner {
    text-align: center;
}

.estudio-descript {
    text-align: center;
}

.estudio-descript h1 {
    font-size: 30px;
    margin-top: 50px;
}

.estudio-descript p {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width: 600px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(99, 106, 106);
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 20px;
}
/* STYLE FOR "TEAM" HTML */
.team-banner {
    text-align: center;
}
.team-banner img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.style-pres {
    display: flex;
    align-items: center;
}

.team-descript {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.team-descript img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
}

.team-descript ul {
    margin-top: 50px;
    margin-left: 25px;
    list-style: none;
}
/* STYLE FOR "SERVICES" HTML */
.style-pres2 {
    display: flex;
    align-items: center;
}
.style-pres2 img {
    width: 500px;
    height: 376px;
    object-fit: cover;
}
.services-style {
    text-align: center;
}
.services-style p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(99, 106, 106);
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
    margin-left: 20px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.style-pres2 h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(99, 106, 106);
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
    margin-left: 20px;
    width: 700px;
    text-align: center;
}

.style-pres2 p {
    font-size: 15px;
    color: rgb(99, 106, 106);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 10px;

}

.services-style iframe {
    margin-bottom: 100px;
    margin-top: 30px;
    width: 700px;
    height: 350px;
}

