

.team-banner {
    text-align: center;
}

.style-pres {
    display: flex;
    align-items: center;
}

.team-descript {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100px;
        height: 200px;
        object-fit: cover;
        margin-top: 50px;
    }

    ul {
        margin-top: 50px;
        margin-left: 25px;
        list-style: none;
    }
}