

footer {
    background-color: rgb(99, 106, 106);
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, black, white );
}