

$maps: (
    teléfono: url('../../images/logos/telephone.png'),
    celular: url('../../images/logos/mobile-phone.png'),
    correo: url('../../images/logos/envelope.png'),
    ubicación: url('../../images/logos/pin.png'),

    width: 20px, 
    height: 20px,
    background-size: contain,
    margin-right: 20px
);